<h1> <%= @restaurant.name %> </h1>

<h3> Address <%= @restaurant.address %> </h3>

<h3> Phone <%= @restaurant.phone_number %> </h3>

<h3> Category <%= @restaurant.category %> </h3>

<h3> Review </h3>
<ul>
<%= @restaurant.reviews.each do |review| %>
<li>
<%= review.content %> ||
<%= link_to "Remove",
    review_path(review),
     method: :delete,
     data: {confirm: "Are you sure?"} %>
</li>
<% end %>
</ul>

<%= link_to 'Back', restaurants_path  %>

<%= link_to 'Create a review', new_restaurant_review_path(@restaurant) %>
